<main class="container">
  <div class="wrap">
    <div class="show">
      <div class="row">
        <div class="col-md-6">
          <h1><%= yearbook.name %></h1>
          <h5>Created by: <%= yearbook.createdBy.username %></h5>
          <% yearbook.users.forEach(user => { %>
            <img src="<%= yearbook.image %>">
            <% }) %>
          </div>
          <div class="center col-md-6">
            <% yearbook.users.forEach(user => { %>
              <p><i class="fa fa-quote-left" aria-hidden="true"> <%= yearbook.description %></i></p>
              <p><%= user.quote %>
              <p><%= yearbook.content %></p>
              <% }) %>

              <% if(locals.isAuthenticated && (yearbook.createdBy.id === locals.user.id)) { %>
                <button class="btn-danger"><a href="/yearbooks/<%= yearbook.id %>/edit">Edit Yearbook</a></button>
                <button class="btn-danger"><a href="/yearbooks/<%= yearbook.id %>/delete">Delete Yearbook</a></button>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </main>
